body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.4s ease;
  background-image: url(background.jpg); background-size: cover;
}

body.dark {
    background-image: url(background.jpg); background-size: cover;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  

}

.container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 25px;
  width: 340px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.3s ease;
}

body.dark .container {
  background: rgba(0, 0, 0, 0.4);
}

h2 {
  margin-bottom: 15px;
}

.top-bar {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #3498db;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  transition: 0.3s;
}

body.dark li {
  background: #2c2c2c;
}

li.completed span.task-text {
  text-decoration: line-through;
  color: gray;
}

.task-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 5px;
  color: white;
}

.priority.High { background: #e74c3c; }
.priority.Medium { background: #f39c12; }
.priority.Low { background: #27ae60; }

.task-time {
  font-size: 11px;
  color: gray;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.edit { background: #f39c12; }
.save { background: #27ae60; }
.delete { background: #e74c3c; }

#toggleMode {
  background: none;
  font-size: 20px;
}
